@import 'swiper';
@import 'animation';
@import 'color';
@import 'pagination';
@import 'socialMedia';
@import 'menu';
@import 'font';
@import 'home';
@import 'character';
@import 'product';
@import 'surprise';
@import 'footer';


html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
