.slide2 {
	.container {
		display: flex;
		height: 100%;
		width: 100%;
	}
	.left {
		width: 70%;
		background: url('../img/background-sombre.jpg') no-repeat;
		-webkit-background-size: cover;
		overflow: hidden;
		background-size: cover;
		position: relative;
		#shadow {
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0.85;
			pointer-events: none;
		}
		.light {
			width: 100%;
			height: 170%;
			background-color: white;
			background-image: radial-gradient(circle at bottom left, white, rgba(255, 255, 0, 0.84));
			box-shadow: inset 0 0 80px 40px #000;
			opacity: 0;
			z-index: 99999;
			position: absolute;
			top: 0;
			transform: rotate(140deg);
			pointer-events: none;
		}
		.personnage {
			position: absolute;
			bottom: 0;
			cursor: pointer;
		}
		#tag {
			position: absolute;
			bottom: 0;
			cursor: pointer;
			left: 6%;
			top: 39%;
			opacity: 0.6;
			transform: rotate(-10deg);
			width: 300px;
		}
		#twoD {
			left: 0;
			opacity: 0.3;
		}
		#murdok {
			left: 12%;
			opacity: 0.5;
		}
		#noodle {
			left: 50%;
		}
		#russel {
			opacity: 0.8;
			left: 26%;
		}
	}
	.right {
		width: calc( 30% - 100px);
		background-color: #313131;
		color: #fff;
		padding: 50px;
		position: relative;
		#infos-noodle {
			display: none;
			.graf {
				background: url('../img/personnages/infos/noodle-graf.png') no-repeat;
				height: 100px;
				text-transform: uppercase;
				text-align: left;
				background-position-x: -50px;
			}
			.graf span {
				font-size: 60%;
				width: 100%;
				display: block;
			}
			img {
				position: absolute;
				bottom: 80px;
				width: 80%;
				right: 0;
				left: 0;
				margin: auto;
			}
		}
		#infos-twoD {
			display: none;
			.graf {
				background: url('../img/personnages/infos/2d-graf.png') no-repeat;
				height: 100px;
				text-transform: uppercase;
				text-align: left;
				background-position-x: -50px;
			}
			.graf span {
				font-size: 60%;
				width: 100%;
				display: block;
			}
			img {
				position: absolute;
				bottom: 80px;
				width: 80%;
				right: 0;
				left: 0;
				margin: auto;
			}
		}
		#infos-murdok {
			display: none;
			.graf {
				background: url('../img/personnages/infos/murdok-graf.png') no-repeat;
				height: 100px;
				text-transform: uppercase;
				text-align: left;
				background-position-x: -50px;
			}
			.graf span {
				font-size: 60%;
				width: 100%;
				display: block;
			}
			img {
				position: absolute;
				bottom: 80px;
				width: 80%;
				right: 0;
				left: 0;
				margin: auto;
			}
		}
		#infos-russel {
			.graf {
				background: url('../img/personnages/infos/russel-graf.png') no-repeat;
				height: 100px;
				text-transform: uppercase;
				text-align: left;
				background-position-x: -50px;
			}
			.graf span {
				font-size: 60%;
				width: 100%;
				display: block;
			}
			img {
				position: absolute;
				bottom: 80px;
				width: 80%;
				right: 0;
				left: 0;
				margin: auto;
			}
		}
	}
}
.text {
	color: #d0d0d0;
	width: 345px;
	padding-top: 35px;
	padding-right: 141px;
	text-align: left;
	font-family: Roboto;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 20px;
}
.graf {
	font-family: nimbus;
	font-size: 50px;
}
