$yellow: #ffe497;
$light-yellow: #fff3ce;
$blue: #cbfff1;
$dark-blue: #007aff;
$coral: #ff9a89;
$dark-coral: #f94527;
$pink: #ff5e7c;
$red: #c82228;
.yellow-bg {
    background-color: $yellow;
}

.light-yellow-bg {
    background-color: $light-yellow;
}

.blue-bg {
    background-color: $blue;
}

.coral-bg {
    background-color: $coral;
}

.pink-bg {
    background-color: $pink;
}
