.main-content {
	background-color: #272c3f;
	height: 100%;
	width: 50%;
}

.main-content p {
	color: #ffffff;
	text-align: justify;
	font-family: roboto;
	font-size: 20px;
}

.main-content img {
	margin-bottom: 0;
}