.swiper-wrapper {
	margin-top: 80px;
}
.main-content {
	background-color: #313131;
	height: 100%;
	width: 627px;
	margin-top: 0;
	position: absolute;
	right: 0;
}
.main-content p {
	color: #d0d0d0;
	width: 345px;
	padding-top: 35px;
	padding-left: 141px;
	padding-right: 141px;
	text-align: left;
	font-family: Roboto;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.main-content img {
	margin-bottom: 0;
}
.main-content h1 {
	letter-spacing: 1.6px;
	padding-top: 35px;
	text-align: center;
	color: #ffffff;
}

.main-content h2 {
	color: #ffffff;
	padding-left: 141px;
	padding-right: 141px;
	text-align: left;
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: 35px;
   	background-image: url("graffite.png");
   	background-repeat: no-repeat;
   	background-position: center;
 }
