.home {
	.container {
		display: flex;
		height: 100%;
		width: 100%;
	}
	.left {
		width: 70%;
		background: url('../img/home/background.jpg') no-repeat;
		background-size: 110% 110%;
		background-position: center center;
		// animation: shrink 8s infinite;
		-webkit-background-size: cover;
		overflow: hidden;
		position: relative;
		.back-band img {
			height: 45%;
			position: absolute;
			display: block;
			right: 5%;
			bottom: 80px;
		}
		#shadow {
			width: 50%;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(to right, transparent, #1a171b);
    pointer-events: none;
    margin-left: 50%;
		}
	}
	.right {
		width: calc( 30% - 100px);
		background-color: $black;
		color: #fff;
		padding: 50px;
		.main-content p {
			color: #d0d0d0;
			text-align: left;
			font-family: Roboto;
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.5px;
			position: relative;
			z-index: 9999999;
		}
		.title h1 {
			height: 150px;
			background: url("../img/back-graff.png") no-repeat;
			letter-spacing: 1.6px;
			background-size: contain;
			text-align: center;
			color: #ffffff;
			font-family: nimbus;
			font-size: 35px;
			position: relative;
			z-index: 9999999;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.graff1 h2 {
			background: url("../img/graff-point.png") no-repeat;
			color: #ffffff;
			text-align: left;
			font-family: Roboto;
			font-weight: 700;
			font-size: 14px;
			letter-spacing: 0.5px;
			margin-top: 35px;
			padding-top: 15px;
			padding-left: 20px;
			clear: right;
			height: 30px;
			background-size: contain;
		}
		.graff2 h2 {
			background: url("../img/graff-point.png") no-repeat;
			color: #ffffff;
			text-align: left;
			font-family: Roboto;
			font-weight: 700;
			font-size: 14px;
			letter-spacing: 0.5px;
			margin-top: 35px;
			padding-top: 15px;
			padding-left: 20px;
			clear: right;
			height: 30px;
			background-size: contain;
		}
	}
}
.graff1 {
	text-align: left;
}
.graff1 img {
	float: left;
	width: 30px;
}
.graff2 {
	text-align: left;
}
.graff2 img {
	float: left;
	width: 30px;
}
