.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    opacity: 1 !important;
    background: transparent !important;
    border: 2px solid #fff;
    margin: 7px auto !important;
}

.swiper-pagination-bullet-active {
	background: #fff !important;
}


.swiper-pagination {
  right: 0 !important;
  position: absolute;
  background-color: $black;
  width: 60px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);
}
