.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
    background: #fff !important;
    margin: 5px auto !important;
}

.swiper-pagination-bullet-active {
	background: transparent !important;
}
.swiper-pagination-bullet-active.slide-1 {
  border: 2px solid $pink;
}
.swiper-pagination-bullet-active.slide-2 {
  border: 2px solid $dark-blue;
}
.swiper-pagination-bullet-active.slide-3 {
  border: 2px solid $dark-coral;
}
.swiper-pagination-bullet-active.slide-4 {
  border: 2px solid $coral;
}
.swiper-pagination-bullet-active.slide-5 {
  border: 2px solid $light-yellow;
}
