.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
    background: #fff !important;
    margin: 5px auto !important;
}

.swiper-pagination-bullet-active {
	background: transparent !important;
  border: 2px solid $blue;
}
