.product-wrapper {
    background-color: $black;
    width: 100%;
    height: calc( 100% - 160px);
    display: flex;
    padding-top: 80px;
    .product {
        width: 100%;
        background-color: $black;
        margin: 2.5% 5%;
        display: inline-flex;
        .left {
            width: 40%;
            height: 100%;
            background: url('../img/product/cardboard-display.jpg') no-repeat;
            -webkit-background-size: cover;
            overflow: hidden;
            background-size: cover;
        }
        .right {
            padding: 25px 50px;
            width: 50%;
            h1 {
                color: #d0d0d0;
                font-family: nimbus;
                font-size: 28px;
                position: relative;
                margin: 0;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-family: Roboto;
                    font-weight: 300;
                    font-size: 50px;
                }
            }
            h2 {
                font-family: Roboto;
                color: #d0d0d0;
                font-weight: 700;
                font-size: 22px;
                margin: 25px 0 0;
            }
            p {
                font-family: Roboto;
                color: #d0d0d0;
                font-weight: 400;
                font-size: 16px;
                margin: 25px 0;
            }
            hr {
                border: 2px solid $red;
                width: 40px;
                margin: 0;
            }
            .cardboard {
                padding-right: 15px;
                cursor: pointer;
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                padding-top: 25px;
                .total {
                    color: #d0d0d0;
                    font-family: nimbus;
                    font-size: 28px;
                    position: relative;
                    margin: 0;
                    text-transform: uppercase;
                }
                .buy {
                    cursor: pointer;
                    color: #d0d0d0;
                    font-family: nimbus;
                    font-size: 28px;
                    position: relative;
                    margin: 0;
                    text-transform: uppercase;
                    background: url('../img/product/red-mark.png') no-repeat;
                    width: 335px;
                    height: 50px;
                }
                .buy:hover {
                    background: url('../img/product/green-mark.png') no-repeat;
                }
            }
        }
    }
}
