.reassurance p {
  color: #d0d0d0;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.date {
  font-family: roboto;
  font-size: 12px;
  margin-top: 50px;
}

.date img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: -10px;
    z-index: 0;
}

#secret-page{
  background-color: $black;
  display: inline-block;
}
#secret-page .header-img{
  width: 100%;
  height: 300px;
  background-color: red;
  background-image: url("../img/banner-test.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 80px;
}
#secret-page .reassurance{
  text-align: center;
  color: #d0d0d0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#secret-page .reassurance .date{
  font-size: 50px;
}
#secret-page .reassurance h2{
  font-size: 34px;
  text-transform: uppercase;
}
#secret-page .product-list{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#secret-page .product-list .product{
  width: 50%;
  display: inline-block;
  background-color: $black;
  float: left;
  margin-bottom: 40px;
}
#secret-page .product-list .product .img-container{
  width: 50%;
  height: 380px;
  background-size: cover;
  background-position: center;
  float: left;
  background-color: red;
}
#secret-page .product-list .product.cardboard .img-container{
  background-image: url("../img/cardboard-vr.png");
}
#secret-page .product-list .product.album .img-container{
  background-image: url("../img/cover.png");
}
#secret-page .product-list .product .text-container{
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  color: #d0d0d0;
}
#secret-page .cta-buy{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: block;
  height: 30px;
  background-image: url();
  background-position: left;
}

.reassurance h2 {
  font-family: nimbus;
  font-size: 20px;
}

.text-container h3 {
  font-family: nimbus;
  font-size: 20px;
    letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
}

.text-container p {
  color: #d0d0d0;
  text-align: left;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}

.text-container a {
  color: #d0d0d0;
  text-align: center;
  font-family: nimbus;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: -30px;
}
